@font-face {
    font-family: 'Quicksand';
    src: url(../font/Quicksand_Book.otf);
    font-weight: bold;
    font-style: normal;
}

/*----------------HEADER--------------------*/
header{
    color: #ffffff;
    font-family: Quicksand;
    height: 50px;
}

header img{
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 1%;
}

.headerAccueil{
    background-color: #215D83;
}
.burger {
    width: 42px;
    height: 24px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
}
  .burger span {
      width: 100%;
      height: 4px;
      background-color: #ffffff;
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: background-color 0.5s ease-in-out;
      border-radius: 15px 15px;
  }

/*----------------MAIN---------------------*/
main{
    height: 1000px;
}

/*----------------FOOTER-------------------*/
footer{
    margin-top: 200px;
    position: relative;
    width: 100%;
}

footer img:nth-child(2){    /*LOGO*/
    margin-bottom: 3%;
    margin-left: 3%;
}

footer p{
    position: absolute;
    bottom: 0px;
    right: 3%;
    color: #ffffff;
    font-size: 0.5em;
}

.FondFooter {        
    width: 100%;
    position: absolute;
    bottom: 0px;   
    z-index: -1;
}





/*--------------------------------------Media query---------------------------*/
@media (min-width: 400px){
    footer p{
        font-size: 0.7em;
    }
}

@media (min-width: 700px) {
    footer p {
        font-size: 1em;
    }
}