@font-face {
    font-family: 'Quicksand';
    src: url(../font/Quicksand_Book.otf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Iconic';
    src: url(../font/Iconic\ Trial\ Regular\ 400.ttf);
    font-weight: bold;
    font-style: normal;
}

/*----------------HEADER--------------------*/
header{
    position: fixed;
    top: 0;
    width: 100%;
    color: #fff;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    font-family: Iconic;
    align-items: center;
}
.headerAccueil {
    background-color: #215D83;
}
header a:link,
header a:visited {
    color: #fff;
    text-decoration: none;
}
.headerDesktop {
    display: none;
}
header .logo {
    position: absolute;
    margin: 15px;
    float: left;
}
.burger {
    width: 42px;
    height: 24px;
    cursor: pointer;
    position: fixed;
    top: 12px;
    right: 10px;
}
.burger span {
width: 100%;
height: 4px;
background-color: #ffffff;
display: block;
position: absolute;
top: 50%;
transform: translateY(-50%);
transition: background-color 0.5s ease-in-out;
border-radius: 15px 15px;
}
.burger span::before,
.burger span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    transition: transform 0.5s ease-in-out;
    border-radius: 15px 15px;
}
.burger span::before {
    transform: translateY(-10px);
}
.burger span::after {
    transform: translateY(10px);
}
.burger.active span {
    transform:translateX(0px) rotate(-360deg);
    background-color: transparent;          /*Le span du milieu disparait*/
    transition: .5s;
}
.burger.active span::before {
    transform: translateY(0px) rotateZ(45deg); /*45*/
}
.burger.active span::after {
    transform: translateZ(0px) rotate(-45deg);
}
.burger.active+nav {
    width: calc(40% - 50px);
    background-color: #215D83;
}
.headerSmartphone nav{
    position:absolute;
    right:0px;
    height:300px;
    top: 50px;
    background-color: #215D83;
    width: 0px;
    transition: width .9s;
}
.headerSmartphone li{
    list-style: none;
    margin-top: 20%;
    text-align: center;
}
  .animation-highlight::after {
      background-color: #ffffff;
      content: '';
      width: 0;
      height: 1%;
      /*position:absolute;*/
      z-index: -1;
      bottom: -1px;
      left: 50%;
      transform: translateX(-50%);
      transition: all 250ms;
  }

  .btn1:hover {
      color: #36A761;
      text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
  }

  .btn2:hover{
      color: #FE4239;
      text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
  }

  .btn3:hover{
      color: #E5DF3A;
      text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
  }

  .animation-highlight:hover::after {
      height: 115%;
      width: 105%;
      border-radius: 5px;
  }
/*----------------MAIN---------------------*/
main{
    height: 1000px;
}

/*----------------FOOTER-------------------*/
footer{
    margin-top: 200px;
    position: relative;
    width: 100%;
}

footer img:nth-child(2){    /*LOGO*/
    margin-bottom: 3%;
    margin-left: 3%;
}

footer p{
    position: absolute;
    bottom: 0px;
    right: 3%;
    color: #ffffff;
    font-size: 0.5em;
}

.FondFooter {        
    width: 100%;
    position: absolute;
    bottom: 0px;   
    z-index: -1;
}





/*--------------------------------------Media query---------------------------*/
@media (min-width: 400px){
    footer p{
        font-size: 0.7em;
    }
}

@media (min-width: 700px) {
    footer p {
        font-size: 1em;
    }
}

@media (min-width: 935px){
    .headerDesktop{
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding-left: 7%;
    }
    .headerSmartphone{
        display: none;
    }
    .headerDesktop a h1 {
        font-size: 36px;
        width: 500px;
        text-transform: uppercase;
    }
    .headerDesktop nav {
        width: 500px;
        display: flex;
        justify-content: space-around;
        font-size: 30px;
        text-transform: uppercase;
    }
    .buttonheaderDesktop {
        display: inline-block;
        color: #ffffff;
        transition: color 250ms;
        text-decoration: none;
        text-shadow: 1px 1px 0px rgb(0, 0, 0);
        position: relative;
        z-index: 0;
    }
     .animation-highlight::after {
         background-color: #ffffff;
         content: '';
         width: 0;
         height: 1%;
         position: absolute;
         z-index: -1;
         bottom: -1px;
         left: 50%;
         transform: translateX(-50%);
         transition: all 250ms;
     }
}
