@font-face {
    font-family: 'Quicksand';
    src: url(../font/Quicksand_Book.otf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Iconic';
    src: url(../font/Iconic\ Trial\ Regular\ 400.ttf);
    font-weight: bold;
    font-style: normal;
}

body {
    margin:0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

main {
    font-family: Quicksand;
}
/*----------------HEADER--------------------*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    color: #fff;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    font-family: Iconic;
    align-items: center;
    z-index: 2;
}
/* Les couleur pour le header */
.headerAccueil,
.headerAccueil .headerSmartphone nav{
    background-color: #215D83;
}

header.neutre,
header.neutre .headerSmartphone nav {
    background-color:#E5DF3A;
}

.headerNefaste,
.headerNefaste .headerSmartphone nav {
    background-color: #FE4239;
}

.headerBenefique,
.headerBenefique .headerSmartphone nav{
    background-color: #36A761;
}
/* Les couleur pour le header */
header.neutre a.neutre:link,
header.neutre a.neutre:visited {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
    text-decoration: none;
}

header a:link,
header a:visited {
    color: #fff;
    text-decoration: none;
}

.headerDesktop {
    display: none;
}

header .logo {
    position: absolute;
    margin: 15px;
    float: left;
}

.burger {
    width: 42px;
    height: 24px;
    cursor: pointer;
    position: fixed;
    top: 12px;
    right: 10px;
}

.burger span {
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.5s ease-in-out;
    border-radius: 15px 15px;
}

.burger span::before,
.burger span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    transition: transform 0.5s ease-in-out;
    border-radius: 15px 15px;
}

.burger span::before {
    transform: translateY(-10px);
}

.burger span::after {
    transform: translateY(10px);
}

.burger.active span {
    transform: translateX(0px) rotate(-180deg);
    background-color: transparent;
    /*Le span du milieu disparait*/
    transition: .5s;
}

.burger.active span::before {
    transform: translateY(0px) rotateZ(45deg);
    /*45*/
}

.burger.active span::after {
    transform: translateZ(0px) rotate(-45deg);
}

.burger.active+nav {
    width: calc(40% - 50px);
}

.headerSmartphone nav {
    position: absolute;
    right: 0px;
    height: 300px;
    top: 50px;
    width: 0px;
    transition: width .9s;
    border-radius: 0px 0px 0px 15px;
    opacity: .9;
}

.headerSmartphone li {
    list-style: none;
    text-align: center;
}

.headerSmartphone li:nth-child(1) {
    margin-top: 37px;
}

.headerSmartphone li:nth-child(2),
.headerSmartphone li:nth-child(3) {
    margin-top: 75px;
}
/* ANIMATION NAV SELECTION */
.animation-highlight::after {
    background-color: #ffffff;
    content: '';
    width: 0;
    height: 1%;
    /*position:absolute;*/
    z-index: -1;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 250ms;
}

.btn1:hover {
    color: #36A761;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

.btn2:hover {
    color: #FE4239;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

.btn3:hover {
    color: #E5DF3A;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

.animation-highlight:hover::after {
    height: 115%;
    width: 105%;
    border-radius: 5px;
}
/* ANIMATION NAV SELECTION */

/*----------------MAIN-Accueil---------------------*/
.mainAcceuil {
    height: 1000px;
}

.earth {
    background-image: url(../images/v2.png);
    background-size: cover;
    border-radius: 50%;
    margin: auto;
    box-shadow: -30px -20px 0 0 rgba(0, 0, 0, .15) inset, -70px -30px 0 0 rgba(0, 0, 0, .1) inset, 5px 5px 0 0 rgba(255, 255, 255, .2) inset;
    -webkit-animation: rotationEarth 5s infinite linear;
    -moz-animation: rotationEarth 5s infinite linear;
    animation: rotationEarth 35s infinite linear;
    position: absolute;
    right: 4%;
    top: 25%;
    width: 90px;
    height: 90px;
}

@-webkit-keyframes rotationEarth {
    from {
        background-position: left center;
    }

    to {
        background-position: -396px center;
    }
}

@keyframes rotationEarth {
    from {
        background-position: left center;
    }

    to {
        background-position: -396px center;
    }
}

.mainAcceuil h2 {
    color: #fff;
    z-index: 1;
    font-family: Quicksand;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50px;
    font-size: 0.8em;
}

.mainAcceuil .intro {
    color: #ffffff;
    font-family: Quicksand;
    text-align: left;
    z-index: 1;
    padding-right: 20%;
    padding-left: 1%;
    font-size: 0.6em;
    position: absolute;
    top: 100px;
}

.fondmainaccueil {
    width: 100%;
    position: absolute;
    top: 200px;
}

.margeTel {
    height: 200px;
    background-color: #215D83;
}

.mainAcceuil .sectionOrdi {
    display: none;
}

.mainAcceuil article {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px 15px 20px 0px rgba(0, 0, 0, 0.397);
    color: #000000;
}

.mainAcceuil .sectionTab {
    width: 100%;
    position: relative;
    top: 400Px;
    display: block;
    flex-direction: column;
}

.mainAcceuil .sectionTab article {
    text-align: left;
    width: 60%;
    margin-bottom: 2%;
    padding: 15px 15px;
    margin-right: 20%;
    margin-left: 20%;
}

.mainAcceuil .sectionTab article img {
    float: right;
}

h3 {
    margin-top: 7px;
}

.positif {
    color: #36A761;
}

.negatif {
    color: #FE4239;
}

.titre_neutre a { /*ajout d'une ombre pour une meilleur lisibilité*/
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    color: #E5DF3A;
}
/*----------------FOOTER-------------------*/
footer {
    margin-top: 10%;
    position: relative;
    width: 100%;
}

footer img:nth-child(2) {
    /*LOGO*/
    margin-bottom: 3%;
    margin-left: 3%;
    max-width:50px;
}

footer p {
    position: absolute;
    bottom: 0px;
    right: 3%;
    color: #ffffff;
    font-size: 0.5em;
}

.FondFooter {
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: -1;
}
/*------------------MAIN-BENEFIQUE------------------------*/

/* MAIN PARTIE BENEFIQUE */
.benefique-main {
    padding-top: 80px;
}
.benefique-main div section,
.benefique-main section,
.benefique-main p  {
    /* Centrer le bloc et évité qu'il s'étire de trop */
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}


.benefique-main div section h3 {
    /*Les titres*/
    text-transform: uppercase;
    padding-left: 25%;
    font-family: Iconic;
    font-size: 48px;
    padding-right: 2.5%;
}
.benefique-main .image section h3{
    /* Pour la police blanche sur le cadre vert */
    color: #fff;
}
.benefique-main .image section div p{
    /* Pour la police blanche sur le cadre vert */
    color: #fff;
}

.benefique-main div section div p {
    /*Les paragraphes*/
    text-align: justify;
    font-size: 36px;
    font-family: Quicksand;
    padding-right: 2.5%;
}
.benefique-main section img {
    /* premiere image */
    width: 25%;
}
.benefique-main div section div img{
    /* Les autres images */
    width: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.benefique-main div section div {
    /*pour la partie texte+image */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.benefique-main .change-cote section div{ /* Change le cote de l'image */
    flex-direction: row-reverse;
}
.benefique-main .change-cote section h3{ /* Aligne le titre */
    padding-left: 2.5%;
}
.benefique-main .change-cote section div p{ /* Aligne le paragraphe */
    padding-left: 2.5%;
    margin-left: 0%;
}

.benefique-main>img {
    /*La vague qui separe les parties*/
    width: 100%;
    margin: 0px;
    height: 100%;
    max-height: 350px;
    min-height: 100px;
    margin-top: 2.5%;
}

/* Pour la 1er partie */
.benefique-main section h2 {
    /* Titre */
    text-transform: uppercase;
    font-family: Iconic;
    font-size: 80px;
    color: #36A761;
    padding-left: 2.5%;
}

.benefique-main>p {
    /* Le texte */
    text-align: justify;
    font-size: 36px;
    font-family: Quicksand;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.benefique-main>section {
    /* Image + titre */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/*La partie avec le bloc vert*/
.benefique-main .image > img{
    color: white;
    background-color: white;
    width: 100%;
    max-height: 100px;
}
.benefique-main .image>img{
    margin-bottom: -7px;
}
.benefique-main .image div{
    background-color: #36A761;
}
.benefique-main .image div section h3{
    margin-top: 0px;
}
/*La partie avec le bloc vert*/

/* MAIN PARTIE BENEFIQUE */

/*------------------MAIN-NEFASTE------------------------*/
.mainNefaste {
    height: 10000px;
    margin-top: 100px;
    width: 100%;
}
.mainNefaste h2{
    text-align: left;
    color: #FE4239;
    font-family: Quicksand;
    padding-top: 80px;
    font-size: 2.5em;
}
.hautpageNefaste{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
     padding-left: 10px;
     padding-right: 10px;
}
.sectioncartesNefaste{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
}
.carteNefaste{
    text-align: center;
    display: block;
    flex-direction: column;
    width: 170px;
}
.carteNefaste:nth-child(2){
    margin-top: 150px;
}
.carteNefaste:nth-child(3){
    margin-top: 300px;
}
.carteNefaste p{
    padding-top: 20px;
    color: #FE4239;
    font-family: Quicksand;
}
.corpNefaste {
    width: 100%;
}
.formeNefaste{
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.corpNefaste article{
    width: 100%;
    background-color: #FE4239;
    margin: 0px 0px;
    padding-left: 60px;
    padding-right: 60px;
    color: #fff;
    height: 411px;
}
.corpNefaste article h3{
    margin-top: 0px;
    text-align: left;
}
.corpNefaste article img{
    float: right;
}


/* -----------PARTIE NEUTRE---------------*/


.zoom:hover {
    transform: scale(1.01);
}


/* ------Main neutre--------*/
main.neutre {
    position:relative;
    top:100px;
    font-size: 0.2em;
    text-decoration:none;
}



h2.neutre { /* titre neutre*/
    text-align: center;
    color:#E5DF3A;
    font-weight: bold;
    
    position: relative;
    top:20px;
    margin:80px 30px;
}

p.neutre {
    color:black;
    position: relative;
    padding:2% 10%;

}

h2 + p.neutre {
    font-size:1.5em;
    width:80%;
    left:10%;
}

section + p.neutre {
    position: relative;
    font-size:1.5em;
    width:80%;
    left:10%;
    bottom:100px;
}

h3.neutre{
    text-align: center;
    text-transform:uppercase;
    font-weight: bold;
}


.div-img {
    width:auto;
    padding: 0%;
}

.div-neutre{
    width:100%;
    height:auto;
    background-color: #E5DF3A;

    display:flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

#Fond-neutre-top {
    transform:rotate(180deg)translateY(-2px);
    width:100%;
    margin-top: 50px;
}

#Fond-neutre-bottom {
    width:100%;
    margin-bottom: 50px;
}


#div2-neutre{
    background-color: #fff;
}
/* footer neutre */
#Fond-neutre-footer{
    transform: rotate(180deg)translateY(-2px);
    width:100%;
}

footer.neutre{
    background-color:#E5DF3A ;
    
    height:10%;
    max-height: 100px;
    min-height: 40px;
    margin-top:0;
}

footer.neutre p {
    color:black;
}

footer.neutre img {
    margin-bottom: 3%;
    margin-left: 3%;
    max-width: 50px;
}

/*--------------------------------------Media query---------------------------*/

/* MEDIA QUERY PARTIE BENEFIQUE */

@media (max-width: 900px) { /* Media query pour le milieu format */
    .benefique-main section h2 {
        font-size: 60px;
    }

    .benefique-main div section h3 {
        font-size: 35px;
    }

    .benefique-main div section div p, .benefique-main p {
        font-size: 21px;
    }
}
@media (max-width: 600px) { /* Media query pour le petit format */
    .benefique-main section h2 {
        font-size: 31px;
    }

    .benefique-main div section h3 {
        font-size: 27px;
    }

    .benefique-main div section div p, .benefique-main p {
        font-size: 12px;
    }
}
/* MEDIA QUERY PARTIE BENEFIQUE */

@media (min-width: 550px) {
    .mainAcceuil .intro {
        font-size: 0.9em;
    }

    .mainAcceuil h2 {
        font-size: 1.1em;
    }

    .earth {
        width: 200px;
        height: 200px;
    }
}

@media (min-width: 945px) {
    .mainAcceuil .sectionOrdi {
        width: 100%;
        position: relative;
        top: 600Px;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .mainAcceuil .sectionOrdi article {
        display: block;
        flex-direction: column;
        text-align: center;
        padding: 17px 10px;
        width: 300px;
        font-family: Quicksand;
    }

    .mainAcceuil .sectionOrdi article p {
        font-size: 1.2em;
    }

    .mainAcceuil .sectionTab {
        display: none;
    }
}

@media (min-width: 935px) {
    .headerDesktop {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding-left: 7%;
    }

    .headerSmartphone {
        display: none;
    }

    .headerDesktop a h1 {
        font-size: 36px;
        width: 500px;
        text-transform: uppercase;
    }

    .headerDesktop nav {
        width: 500px;
        display: flex;
        justify-content: space-around;
        font-size: 30px;
        text-transform: uppercase;
        
    }

    .buttonheaderDesktop {
        display: inline-block;
        color: #ffffff;
        transition: color 250ms;
        text-decoration: none;
        text-shadow: 1px 1px 0px rgb(0, 0, 0);
        position: relative;
        z-index: 0;
    }

    .animation-highlight::after {
        background-color: #ffffff;
        content: '';
        width: 0;
        height: 1%;
        position: absolute;
        z-index: -1;
        bottom: -1px;
        left: 50%;
        transform: translateX(-50%);
        transition: all 250ms;
    }

    .fondmainaccueil {
        width: 100%;
        top: 50px;
    }

    .margeTel {
        height: 0px;
    }

    .earth {
        width: 300px;
        height: 300px;
        right: 10%;
        top: 32%;
    }

    .mainAcceuil h2 {
        top: 50px;
        font-size: 1.5em;
    }

    .mainAcceuil .intro {
        top: 135px;
        padding-left: 2%;
        padding-right: 40%;
        font-size: 1.3em;
    }
}

@media (max-width: 1150px) {
    .earth {
        right: 7%;
        top: 15%;
    }
}

@media (min-width: 1390px) {
    .earth {
        right: 9%;
        top: 17%;
    }
}

@media (min-width: 1410px) {
    .earth {
        top: 18%;
    }
}

@media (min-width: 1550px) {
    .earth {
        top: 20%;
        right: 0%;
    }
}

@media (min-width: 200px) {
    .mainAcceuil .intro {
        font-size: 0.7em;
    }

    .mainAcceuil h2 {
        font-size: 0.7em;
    }

    .earth {
        top: 25%;
        right: 5%;
    }
}

@media (min-width: 400px) {
    footer p {
        font-size: 0.7em;
    }
}

@media (min-width: 450px) {
    .mainAcceuil .intro {
        font-size: 0.8em;
    }

    .mainAcceuil h2 {
        font-size: 1em;
    }
}


@media (min-width: 700px) {
    footer p {
        font-size: 1em;
    }
}

@media (min-width: 750px) {
    .mainAcceuil .intro {
        font-size: 1.1em;
    }

    .mainAcceuil h2 {
        font-size: 1.3em;
    }
}

@media (min-width: 1350px) {
    .mainAcceuil .intro {
        font-size: 1.5em;
    }

    .mainAcceuil h2 {
        font-size: 1.7em;
    }
}

@media (min-width: 1650px) {
    .mainAcceuil .intro {
        font-size: 1.7em;
    }

    .mainAcceuil h2 {
        font-size: 1.9em;
    }
}

@media (min-width: 1630px) {
    .mainAcceuil .sectionOrdi {
        top: 800px;
    }

    .mainAcceuil {
        height: 1200px;
    }
}

@media (max-width: 982px){
    .mainNefaste .corpNefaste article img{
        width: 100%;
        float: none;
        margin-right: 1%;
        margin-left: 1%;
        margin-bottom: 30px;
    }
    .mainNefaste .corpNefaste article h3{
        text-align: center;
    }
    .mainNefaste .corpNefaste article {
        height: 700px;
    }
}

@media (max-width: 905px) {
    .mainAcceuil .sectionTab {
        top: 300px;
    }
}

@media (max-width: 890px) {
    .mainNefaste .corpNefaste article {
        height: 650px;
    }
}

@media (max-width: 530px) {
    .mainAcceuil .sectionTab article {
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
        margin-bottom: 20px;
    }

    .mainAcceuil .sectionTab {
        top: 200px;
    }

    .mainAcceuil {
        height: 800px;
    }
}

@media (max-width: 381px) {
    .mainAcceuil {
        height: 1000px;
    }
    .mainNefaste .hautpageNefaste img{
        width: 100px;
    }
}

@media (max-width: 280px) {
    .mainAcceuil {
        height: 1200px;
    }
    .carteNefaste p{
        font-size: 0.8em;
    }
}
@media (max-width: 410px){
    .mainNefaste h2 {
        font-size: 1.7em;
    }
}

/* -------Media query du Main neutre------- */

@media (min-width: 800px) {
    .img-neutre-m {
        display:none;
    }
    .img-neutre-g {
        display:block;
    }

    .img-neutre-s {
        display:none;
    }
    article.neutre{
        width:65%;
    }
    .div-neutre {
        flex-direction: row;
        
        height:auto;
        
    }
}

@media (max-width: 800px) and (min-width: 585px) {
    .img-neutre-m {
        display:block;
    }
    .img-neutre-g {
        display:none;
    }

    .img-neutre-s {
        display:none;
    }
    
    article.neutre{
        width:95%;
    }
    h2.neutre{
        font-size:2.8em;
    }
    .div-neutre {
        flex-direction: column;
    }
}

@media (max-width: 585px) {
    .img-neutre-m {
        display:none;
    }
    .img-neutre-g {
        display:none;
    }

    .img-neutre-s {
        display:block;
    }
    article.neutre{
        width:95%;
    }
    h2.neutre{
        font-size:2.4em;
    }
    .div-neutre {
        flex-direction: column;
    }
}
/*---- Media query police----*/
@media (min-width: 1000px) {
   p.neutre {
        font-size: 1.6em;
    }
    h3.neutre{
        font-size: 2.8em;

    } 
    h2.neutre {
    font-size: 4em;
    }
}

@media (max-width: 1000px) and (min-width: 600px) {
    p.neutre {
        font-size: 1.2em;
    }
    h2.neutre {
        font-size: 3em;
    }
}

@media (max-width: 600px) {
    p.neutre {
        font-size: 1.2em;
    }

    h2.neutre {
        font-size: 2.5em;
    }
}





